{% extends "base.html" %}

{% block content %}
<div class="main">
    <nav>
        <span>
            <img width="53px" src="/static/assessts/images/logo.svg" alt="Netflix">
        </span>
    </nav>
    <div class="box"></div>
    <div class="red-hero-line"></div>
    <div class="hero">
        <span>Thank You for Registering!</span>
        <span>You are now registered with us as {{ email }}.</span>
        <span>Enjoy unlimited movies, TV shows, and more.</span>
        <div>
            <a href="/" class="btn btn-red">Go to Home</a>
        </div>
    </div>
    <div class="separation"></div>
</div>

<footer class="footer">
    <div class="footer-content">
        <div class="footer-top">
            <p>Questions? Call <a href="tel:000-800-919-1694">Zaky@coder.com</a></p>
        </div>
        <div class="footer-links">
            <div class="footer-column">
                <a href="#">FAQ</a>
                <a href="#">Investor Relations</a>
                <a href="#">Privacy</a>
                <a href="#">Speed Test</a>
            </div>
            <div class="footer-column">
                <a href="#">Help Centre</a>
                <a href="#">Jobs</a>
                <a href="#">Cookie Preferences</a>
                <a href="#">Legal Notices</a>
            </div>
            <div class="footer-column">
                <a href="#">Account</a>
                <a href="#">Ways to Watch</a>
                <a href="#">Corporate Information</a>
                <a href="#">Only on Netflix</a>
            </div>
            <div class="footer-column">
                <a href="#">Media Centre</a>
                <a href="#">Terms of Use</a>
                <a href="#">Contact Us</a>
            </div>
        </div>
        <div class="footer-bottom">
            <button class="btn btn-red-sm btn-up">English</button>
            <p class="copyright">Netflix Pakistan - by Zaky</p>
        </div>
    </div>
</footer>
{% endblock %}